<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="MxmBlog">
            <directory>./module/MxmBlog/test</directory>
        </testsuite>
	<testsuite name="MxmUser">
            <directory>./module/MxmUser/test</directory>
        </testsuite>
        <testsuite name="MxmRbac">
            <directory>./module/MxmRbac/test</directory>
        </testsuite>
    </testsuites>
</phpunit>
