a {
    color: #fefe54;
}

a:hover, a:focus {
    background: #aa5500;
    color: #fefe54;
}

.btn.active, .btn:active {
    margin: 5px 5px 15px 5px;
    outline: 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.btn {
    margin: 0 10px 20px 0;
}

#sidebar > .list-group {
    margin: 15px 10px 40px 10px
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox, .form-signin .form-control {
    margin-bottom: 10px;
}

body {
    text-shadow: none;
    background-color: #000084;
}

.alert-dismissable .close, .alert-dismissible .close {
    color: #ff5555;
    position: relative;
    top: -2px;
    right: 21px;
    opacity: 1;
}
.has-error .form-control {
    border: 2px solid #a94442;
}

.form-group > fieldset > label {
    display: inherit;
}

.dialog {
    box-shadow: 20px 20px 0 rgb(0,0,0);
    border: 2px solid #bbbbbb;
}

input, textarea, select, button {
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
}