a {
    color: #fefe54;
}

a:hover, a:focus {
    background: #aa5500;
    color: #fefe54;
}

.btn.active, .btn:active {
    margin: 10px 0 10px 10px;
    outline: 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

#sidebar > .list-group {
    margin: 15px 10px 40px 10px
}

